h1,h2,h3,h4,h5,h6,p,a {
	font-family: Microsoft JhengHei, "Open Sans",Helvetica,Arial,sans-serif;
}
.grey_bg{
	background: #F8F9FA;
	min-height: 450px;
	font-family: Microsoft JhengHei, "Open Sans",Helvetica,Arial,sans-serif;
}
.detail-div{
	margin-left: 80px;
	margin-right: 80px;
	padding-left: 80px;
}
.memberDiv{
	margin-bottom: 100px;
	padding-right: 60px;
}
#member-header{
	padding-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
	margin-top:50px;
	margin-bottom: 10px;
}

#member-header>div.detail-list-col1{
	width: 80px;
	padding-left: 0px;
}
#member-header img{
	width: 65px;
	height: 65px;
}
#member-header>div.detail-list-col2{
	padding-top: 15px;
}
#member-header h3{
	font-weight: bold;
	font-size: 30px;
}

.detail-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom: 20px;
}
.detail-list-col1{
	float:left;
	width: 80px;
	padding-left: 30px;
}
.detail-list-col1 i{
	font-style:normal;
	font-size:28px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height: 38px;
}

.detail-list-col2{
	overflow:hidden;	
}
.detail-list-col2 h3{
	font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-size: 16px;
    line-height: 17px; 
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

#navigationDiv{
	position: fixed;
	margin-top: 70px;
}
#navigationMenu li{
	list-style:none;
	display: block;
	margin-bottom: 25px;
}
#navigationMenu span.nav-span{
	font-size:18px;
	font-weight: lighter;
	line-height:1.5;
	letter-spacing:1px;
	color: #AAAFB0;	/*AAAFB0;*/
	white-space:nowrap;
 	-webkit-transition: 0.25s; 
 	transition: 0.25s; 
}
#navigationMenu span.nav-span:hover{
	color: #70C1B3;
}
#navigationMenu span.nav-active{
	color: #000;
	border-bottom: .1rem solid #000;
}
.is-hidden {
	visibility: hidden;
}
.rating{
	margin-top: 100px;
	font-size: 12px;
	color: #727CB6;
}
.info{
	position:relative;
	display: block;
	float: right;
	clear: both;
	margin-left: 5px;
	margin-top: 10px;
	font-size: 12px;
	color: #000;
/* 	font-family: "Irvin Display",Georgia,"Times New Roman",Times,serif; */
}
.subject{
	text-align: center;
	letter-spacing: 1px;
	font-family: "Proxima Nova",sans-serif;
	font-size: 14px;
	padding: 13px 16px;
	text-transform: uppercase;
}
.subject i{
	color: #FF1E76;
}
.subject p{
	margin:0;
}
.subtabs{
	color: #000;
    background-color: transparent;
    display: block;
    border-bottom: 1px solid #000;
}
.subtabs .subtab {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #a9a9a9;
    padding: 0 2px;
    padding-bottom: 25px;
    height: 12px;
    font-size: 12px;
    line-height: 22px;
    cursor: pointer;
    font-family: "Proxima Nova",sans-serif;
}
.subtabs .subtab.selected, .subtabs .subtab:hover {
    color: #000;
    background-color: transparent;
}
.sep{
	letter-spacing: 1.3px;
	color: #a9a9a9;
}
.tab-content{
	padding: 0px;
}
.reviews, .articles{
	padding: 33px 0 40px 0;
	border-bottom: 1px solid #E0E0E0;
}
.preview{
    font-size: 18px;
    font-weight: 300;
    color: #333;
    position: relative;
    line-height: 20px;
    height: 100px; /* line-height的5倍, show 5行文字 */
    overflow: hidden;
}
.preview::after {
    content: "...";
    font-weight: bold;
    position: absolute;
}
.dropdown{
	display: inline-block;
	border-radius: 0;
	background: transparent;
	color: #000;
	float: right;
	cursor: pointer;
	padding: 0 16px;
}
.arrow{
	display: inline-block;
	float: right;
	padding-top: 5px;	
}
.dropdown-menu {
	width: 20px;
}