
@import url("../font-awesome.css");
@import url("../magnified.css");

body {
    font-size: 100%;
	font-family: Microsoft JhengHei, "Droid Serif", serif;
}

.portfolio-title {
	height: 60px;
	background-color: #98DaD6;  /*blue */
	border-bottom: 1px solid #4FBAAA;
	color: #ffffff;
	text-align: center;
	padding: 15px 10px 10px 10px;
}

#proList div:nth-child(4n+2) .portfolio-title {
	background-color: #DDD5C9;	/*beige*/
	border-bottom: 1px solid #C6BFB4;
} 

#proList div:nth-child(4n+3) .portfolio-title {
	background-color: #FF95CA;	/*beige*/
	border-bottom: 1px solid #C6BFB4;
} 

#proList div:nth-child(4n+4) .portfolio-title {
	background-color: #FF9985;	/*pink*/
	border-bottom: 1px solid #D97F88;
}

/* ===================================================== */
/* 33. Button Up										 */
/* ===================================================== */
.btntoTop {
    width: 44px;
    height: 44px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #727CB6;
    border-radius: 2px;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}
.btntoTop:before {
    content: "\f106";
    display: inline-block;
    vertical-align: middle;
    font: 20px 'FontAwesome';
    color: #fff;
}
.btntoTop.active {
    opacity: 1;
}
.btntoTop.active:hover{
    background-color: #464D71;
}