.wrapper{
            margin-top: 0px; 
        }

        #header{
            padding: 25px 0;
        }
        #logo{
            margin-bottom:0;
        }
        .navbar-default .navbar-nav > li > a {
            padding: 10px 12px;
            letter-spacing: 2px;
        }
        /*.login, .login>span{
            float:right;
            width:40px;
            text-align:center;
            color:hsl(0, 0%, 48%);
        }
        .login:hover,  .login>span:hover{
            color:hsl(219, 57%, 61%);
        }*/

        .top-nav ul{
            line-height:40px;
        }

        .top-nav ul li{
            float:right;
            margin-left: 10px;
        }
        .top-nav ul li a{
            color:hsl(0, 0%, 48%);
        }
        .top-nav ul li a:hover{
            color:hsl(219, 57%, 61%);

        }

        /*userimg*/
        .userdiv {
            position: relative;
            width: 40px;
            height: 40px;
            overflow: hidden;
        }        
        /*橫*/
        .userdiv img {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
        /*直*/
        .userdiv img.portrait {
            width: 100%;
            height: auto;
        }

        .pk_bg{
            background: pink;
        }