.wrapper {
	margin-top: 0px;
}

#header {
	padding: 25px 0;
}

#logo {
	margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
	padding: 10px 12px;
	letter-spacing: 2px;
}
/*.login, .login>span{
            float:right;
            width:40px;
            text-align:center;
            color:hsl(0, 0%, 48%);
        }
        .login:hover,  .login>span:hover{
            color:hsl(219, 57%, 61%);
        }*/
.top-nav ul {
	line-height: 40px;
}

.top-nav ul li {
	float: right;
	margin-left: 10px;
}

.top-nav ul li a {
	color: hsl(0, 0%, 48%);
}

.top-nav ul li a:hover {
	color: hsl(219, 57%, 61%);
}

/*userimg*/
.userdiv {
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
}
/*橫*/
.userdiv img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/*直*/
.userdiv img.portrait {
	width: 100%;
	height: auto;
}


/* service Box 5
====================================*/
.serviceBox_5{
    margin-bottom: -10px;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    padding: 20px 0 0;
}

.serviceBox_5 .service-image{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease 0s;
    margin-bottom: 10px;
}
.serviceBox_5 .service-image > img {
    width: 100%;
}
.serviceBox_5 .service-image:hover{
    opacity: 0.7;
    transition: all 0.5s ease 0s;
}
.serviceBox_5 .service-content{
    padding-top: 62px;
    position: relative;
}
.serviceBox_5 .service-content::before {
    background: hsl(188, 30%, 39%) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 500px;
    left: -20%;
    position: absolute;
    top: 0;
    transform: rotate(7deg);
    transition: all 0.3s ease 0s;
    width: 400px;
}
.serviceBox_5 .service-content::after {
    background: hsl(188, 30%, 39%) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 500px;
    left: 30%;
    position: absolute;
    top: 30px;
    transform: rotate(-35deg);
    transition: all 0.3s ease 0s;
    width: 400px;
}

.serviceBox_5 .service-content .internal::before {
    background: hsl(188, 35%, 31%) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 500px;
    left: -50%;
    position: absolute;
    top: 3%;
    transform: rotate(14deg);
    transition: all 0.3s ease 0s;
    width: 400px;
    z-index: 1;
}
.serviceBox_5 .service-content .internal::after {
    background: hsl(188, 35%, 31%) none repeat scroll 0 0;
    content: "";
    display: block;
    height: 500px;
    left: 57%;
    position: absolute;
    top: 30px;
    transform: rotate(-52deg);
    transition: al
    l 0.3s ease 0s;
    width: 400px;
    z-index: 1;
}
.serviceBox_5 .service-content .item_content{
    background: hsl(188, 35%, 31%) none repeat scroll 0 0;
    position: relative;
    z-index: 2;
    color: white;
}
.serviceBox_5 .service-content.bg1::before {
    background:#ffcba3;
}
.serviceBox_5 .service-content.bg1::after {
    background:#c55e36;
}

.serviceBox_5 .service-content.bg1 .internal::before {
    background:#f1a77f;
}
.serviceBox_5 .service-content.bg1 .internal::after {
    background:#f1a77f;
}
.serviceBox_5 .service-content.bg1 .item_content{
    background:#f1a77f;
}

.serviceBox_5 .service-content.bg2::before {
    background:#f1f1f1;
}
.serviceBox_5 .service-content.bg2::after {
    background:#9ea1aa;
}
.serviceBox_5 .service-content.bg2 .internal::before {
    background:#c1c1c1;
}
.serviceBox_5 .service-content.bg2 .internal::after {
    background:#c1c1c1;
}
.serviceBox_5 .service-content.bg2 .item_content{
    background:#c1c1c1;
}

.serviceBox_5 .service-content.bg3::before {
    background:#f9de59;
}
.serviceBox_5 .service-content.bg3::after {
    background:#e5bb35;
}
.serviceBox_5 .service-content.bg3 .internal::before {
    background:#f4ca64;
}
.serviceBox_5 .service-content.bg3 .internal::after {
    background:#f4ca64;
}
.serviceBox_5 .service-content.bg3 .item_content{
    background:#f4ca64;
}

.serviceBox_5 .service-content.bg4::before {
    background:#9bf3e7;
}
.serviceBox_5 .service-content.bg4::after {
    background:#387b73;
}

.serviceBox_5 .service-content.bg4 .internal::before {
    background:#57c1b3;
}
.serviceBox_5 .service-content.bg4 .internal::after {
    background:#57c1b3;
}
.serviceBox_5 .service-content.bg4 .item_content{
    background:#57c1b3;
}
.serviceBox_5 .service-content h3{
    color: hsl(0, 0%, 100%);
    font: 400 20px/24px "Trebuchet MS",Tahoma,sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
}

.serviceBox_5 .service-content h4{
	margin:0px; 
	color:black; 
	font-family:Microsoft JhengHei;
	font-size:15px;
	font-weight: normal;
	
}

.serviceBox_5 .service-content a{
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.serviceBox_5 .service-content a:hover{
    color:#fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;

}
.serviceBox_5 .service-content:hover::before {
    transform: rotate(-7deg);
}
.serviceBox_5 .service-content:hover .internal::before {
    transform: rotate(10deg);
}

.gradient_bg1{
	background-image:url('/images/pattern-1.png');
	padding-top: 40px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f7ff+0,c5e6f9+31,cff4fc+63,eafdff+100 */
	background: #e8f7ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8f7ff 0%, #c5e6f9 31%, #cff4fc 63%, #eafdff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e8f7ff 0%,#c5e6f9 31%,#cff4fc 63%,#eafdff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e8f7ff 0%,#c5e6f9 31%,#cff4fc 63%,#eafdff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f7ff', endColorstr='#eafdff',GradientType=0 ); /* IE6-9 */
	
}

.gradient_bg2{
	padding-top: 20px;
	background: linear-gradient(to top, #C9FFBF , #FFAFBD);
	
}

#timelineDiv{
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
}

a, a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* -------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, 
  		and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
.is-hidden {
  visibility: hidden;
}
.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}

/* --------- TimeLine --------- */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;	/*for小螢幕 微調*/
  height: 100%;
  width: 4px;
  background: rgba(255, 255, 255, 0.8);
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
/*     margin-left: -2px; */
  }
}

/* --------- TimeLine Img --------- */
.cd-timeline-img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ffffff;
}
#cd-timeline:nth-child(3n+2) .cd-timeline-img{
	box-shadow: 0 0 0 3px #FF3562;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
/*   margin-left: -12px; */
/*   margin-top: -12px; */
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 20px;
    height: 20px;
    top: 18px;
    left: 50%;
    margin-left: -8px;
    Force Hardware Acceleration in WebKit
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

/* --------- Block --------- */
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
}


/* --------- Content --------- */
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  border-radius: 0.25em;
/*   box-shadow: 0 2px 0 #d7e4ed; */
  opacity: 0.9;
  background-color: rgba(255, 255, 255, 0.9);
  float: left;
  padding: 1.6em;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
.cd-timeline-content h2 {
  font-size: 20px;
  color: #3F3F53;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
  overflow: hidden; 
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-size: 13px;
  color: #969696;
}
.cd-timeline-content div.cd-img{
	width: 250px;
	height: 250px;
	margin: auto;
}
.cd-timeline-content .cd-info, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content .cd-info {
  float: right;
  padding: .8em 1em;
  border-radius: 0.25em;
}
.cd-date {
  font-size: 13px;
  color: #969696;
  float: left;
  padding: .8em 0;
  opacity: .7;
}

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 23px;
  }
  .cd-timeline-content p {
    font-size: 16px;
  }
  .cd-timeline-content .cd-info, .cd-timeline-content .cd-date {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 2.5em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-info {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-info {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .is-hidden {
    visibility: hidden;
  }
  .bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-3 0.6s;
    -moz-animation: cd-bounce-3 0.6s;
    animation: cd-bounce-3 0.6s;
  }
}
@media only screen and (min-width: 1170px) {
  inverse bounce effect on even content blocks
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}


.cd-info {
   display: inline-block;
   padding: 0px;
   text-decoration: none;
   margin:2px;
   border: 1px solid #FD9E9C;
   color: #FD9E9C;
   background-color: rgba(255, 255, 255, 0.5);

}
.cd-info:hover {
   transition-delay: 0s;
   display: inline-block;
   text-decoration: none;
   border: 1px solid #FD9E9C;
   color: #fff;
   background-color: #FD9E9C;
}


/* ---------- animate ---------- */
@-webkit-keyframes cd-bounce-1 {
  0% { 
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes cd-bounce-3 {
  0% { 
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
