/* @import url("font-awesome.min.css"); */
/* @import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900"); */
@import url("font-awesome.min.css");

@import
	url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Arvo:700")
	;

.navbar {
/* 	padding:0px; */
	background-color: #2ebaae;
}

/* a:hover { */
/* 	border-bottom-color: transparent; */
/* 	color: red !important; */
/* } */

/* a:hover:before { */
/* 	color: #2ebaae !important; */
/* 	background-color: #ffffff; */
/* } */

.navbar-default .navbar-nav>li a:hover {
	background-color: #ffffff;
	color: #2ebaae;
	font-weight: 600;
}
										
.navbar-default .navbar-nav>li a:focus {
    background-color: #ffffff;
	color: #2ebaae;
	font-weight: 600;
}

.navbar-default .navbar-brand {
	font-size: 25px;
	/*     border-right:1px solid #d0d0d0; */
	text-transform: uppercase;
	color: #ffffff;
	font-family: sans-serif;
	font-weight: 800;
	letter-spacing: 4px;
	margin-left: 30px;
	margin-right: 10px;
}

#a:hover {
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
	font-size: 18px;
/*  border-left:1px solid #d0d0d0; */
	color: #ffffff;
	letter-spacing: 4px;
	font-family: "Microsoft JhengHei";
/* 	margin-left:20px; */
/*  font-weight: 500; */
/* 	padding-top:35px; */
/* 	padding-bottom:35px; */
}



.navbar-default .navbar-nav>li:FIRST-CHILD>a {
	border-left: 0;
}

.navbar-right>li {
	width: 70px;
	text-align: center;
	/* 	border-left:1px solid #d0d0d0;	 */
}


/* footer */
#footer{
	background-color:#2ebaae;
	text-align:center;
	height:200px;
}

#footer .icons li{
	list-style-type: none;
	float:left;
}

#footer .copyright {
	margin-top:80px;
	color: #fff;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

#footer .copyright a{
	color: #fff;
}

#footer h3{
	color: #fff;
	font-family: "Helvetica";
	letter-spacing: 3px;
}

#footer p{
	font-weight: 400;
	color: #fff;
	font-family: "Helvetica";
	letter-spacing: 3px;
}

.btn-social {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    width: 50px;
    height: 50px;
}
.btn-outline:hover ,.btn-outline:focus {
    background:#fff;
    color:#2ebaae;
}

.btn-outline {
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
    margin:20px 5px 20px 5px;
    padding: 12px;  /* 調整icons和外圈距離*/
}
/* end of footer */


/* dropotron */
#main-nav ul li.active {
	background-color: #ffffff;
	color: #2ebaae;
}

#main-nav ul li.active a {
	background-color: #ffffff;
	color: #2ebaae;
}

.dropotron {
	background: #2ebaae;
	border:1px solid #ffffff;
	list-style: none;
	margin: 0;
	min-width: 10em;
	padding: 2.25em 1em 0.75em 1em;
	
}

.dropotron>li {
	border-top: solid 1px #ffffff;
	margin: 0;
	padding: 0;
}

.dropotron>li:first-child {
	border-top: 0;
}

.dropotron>li>a {
	font-family: "Microsoft JhengHei";
	color:#ffffff;
	display: block;
	padding: 0.5em 0 0.5em 0;
	text-decoration: none;
}

.dropotron>li.active>a, .dropotron>li:hover>a {
	font-weight: 600;
/* 	background-color: #ffffff; */
/* 	color: #81d8d0; */
}
/* end of dropotron */

@media ( min-width : 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
		{
		margin-left: 20px;
	}
}
